Deep Learning/Lab/Lab6/datasets.zip
Deep Learning/Lab/Lab6/datasets/
Deep Learning/Lab/Lab8/lab_8_data.zip
Deep Learning/Lab/Lab6/datasets.zip
Deep Learning/Lab/Lab6/datasets/
Deep Learning/Lab/Lab8/lab_8_data.zip
Deep Learning/Lab/ds_env
Deep Learning/Lab/ds_env/
Deep Learning/Lab/ds_env/

Deep Learning/Lab/ds_env/
ds_env/
venv/
.venv/
